@page
@model e_commerce_web.Pages.product.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <label asp-for="Product.Code" class="control-label"></label>
                <input asp-for="Product.Code" class="form-control" />
                <span asp-validation-for="Product.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Category" class="control-label"></label>
                <input asp-for="Product.Category" class="form-control" />
                <span asp-validation-for="Product.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.UnitPrice" class="control-label"></label>
                <input asp-for="Product.UnitPrice" class="form-control" />
                <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.StockQuantity" class="control-label"></label>
                <input asp-for="Product.StockQuantity" class="form-control" />
                <span asp-validation-for="Product.StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Rating" class="control-label"></label>
                <input asp-for="Product.Rating" class="form-control" />
                <span asp-validation-for="Product.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Seller" class="control-label"></label>
                <input asp-for="Product.Seller" class="form-control" />
                <span asp-validation-for="Product.Seller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Image" class="control-label"></label>
                <input asp-for="Product.Image" class="form-control" />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.date" class="control-label"></label>
                <input asp-for="Product.date" class="form-control" />
                <span asp-validation-for="Product.date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
