@page
@model e_commerce.Pages.products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="products.name" class="control-label"></label>
                <input asp-for="products.name" class="form-control" />
                <span asp-validation-for="products.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="products.code" class="control-label"></label>
                <input asp-for="products.code" class="form-control" />
                <span asp-validation-for="products.code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="products.catagory" class="control-label"></label>
                <input asp-for="products.catagory" class="form-control" />
                <span asp-validation-for="products.catagory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="products.seller" class="control-label"></label>
                <input asp-for="products.seller" class="form-control" />
                <span asp-validation-for="products.seller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="products.relesase" class="control-label"></label>
                <input asp-for="products.relesase" class="form-control" />
                <span asp-validation-for="products.relesase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
